html {
    min-height: 100%;
    height: max-content;
    background-image: linear-gradient(180deg, #7F7FD5, #86A8E7, #91EAE4);
}
.App {
    text-align: center;
    margin: 40px;
}
button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px 4px 10px 4px;
    border: 1px solid;
    border-radius: 10px;
}
select {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.grid-container {
    display: grid;
    background-color: lightsteelblue;
    padding: 10px;
    margin-top: 40px;
}
.grid-item {
    border: 1px solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}